<h2 class='title'><%= post.escape('title') %><p>Asked by: <%= post.escape('author')%></p></h2>

<div class='post-body'>
<p><%= post.escape('body') %></p>
</div>

<% if (comments.length !== 0){ %>
	<h4>Comments</h4>
	<ol>
		<% comments.forEach (function (comment) { %>
		<li> 
			<%= comment.escape('body') %>
		</li>
		<% }); %>
	</ol>
<% }; %>

<% if (answers.length !== 0){ %>
	<h4>Answers</h4>
	<ol>
		<% answers.forEach (function (answer) { %>
			<li>
				<%= answer.escape('username') %>'s answer: 
				<%= answer.escape('body') %>
			</li>
			<% if (answer.comments().length !== 0){ %>
				<p>Comments on this answer</p>
				<% answer.comments().each(function(comment){ %>
					<%= comment.escape('body') %>
				<% }); %>
				<form id='answerComment'>
					<label for='comment_body'>Comment</label>
					<input type='text' name='comment[body]' id='comment_body'>

					<input type='hidden' name='comment[commentable_id]' id='comment_commentable_id' value='<%= answer.id %>'>

					<input type='hidden' name='comment[commentable_type]' id='comment_commentable_type' value='Answer'>

					<input type='submit'>
				</form>
			<% }; %>
		
		<% }); %>
	</ol>
<% }; %>

<form id='answer'>
	<label for='answer_body'>Answer</label>

	<input type='hidden' name='answer[post_id]' id='answer_post_id' value='<%= post.id %>'>

	<input type='submit'>
</form>

<label for='answer'>
<textarea rows="4" cols="30" name="answer[body]" form="answer" id='answer_body'>
Enter text here...</textarea><br>

<!--

<form id='comment'>
	<label for='comment_body'>Comment</label>

	<input type='hidden' name='comment[commentable_id]' id='comment_commentable_id' value='<%= post.id %>'>

	<input type='hidden' name='comment[commentable_type]' id='comment_commentable_type' value='Post'>

	<input type='submit'>
</form>

<label for='comment'>
<textarea rows="4" cols="30" name="comment[body]" form="comment" id='comment_body'>
Enter text here...</textarea><br>

-->

<a href='#/'>Back to Index</a>




